*{
    margin: 0;
    padding: 0;
    color: var(--color-three);
}
:root{
    --color-one:#202124;/*#120F67*/
    --color-one-bright: #323439;
    --color-two:#3BBEAA;
    --color-three:#FFFADE;
}
body{
    background-color: var(--color-one);
}
/*<<<<<<<< Content */
header{
    height: calc(100px - 32px - 1px);
    padding: 16px;
    border-bottom: 1px solid var(--color-three) ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
main{
    min-height: calc(100vh - 100px - 50px);
}
footer{
    height: calc(50px - 32px - 1px);
    padding: 16px;
    border-top: 1px solid var(--color-three) ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/*<<<<<<<<<<<<<<<< Images */
.gallery-card{
    padding: 32px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.img-card{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin: 8px;
}
/*<<<<<<<<<<<<<<< Slideshow */
#gallery-carusell{
    height: 50vh;
    background-color: var(--color-one-bright);
    padding: 40px 15%;
}
.slideshow{
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
}
/*<<<<<<<<<<<<<< Arrows */
.slideshow a {
    /* position: absolute; */
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
.slideshow img{
    width: 90%;
    height: 15%;
}
.arrow-left{
    position: absolute;
    left: 0;
}
.arrow-right{
    position: absolute;
    right: 0;
}
/*<<<<<<<<<<<< Indikator */
#indikatorlist{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#indikatorlist li{
    height: 100%;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
    padding: 0 10px;
}
.indikator-list{
    font-size: 50px;
    color: var(--color-two);
}