*{
    margin: 0;
    padding: 0;
    color: var(--color-three);
}
:root{
    --color-one:#202124;/*#120F67*/
    --color-one-bright: #323439;
    --color-two:#3BBEAA;
    --color-three:#FFFADE;
}
body{
    background-color: var(--color-one);
}
.d-none{
    display: none;
}
.d-flex{
    display: flex;
}
.overflow{
    overflow-y: hidden;
}
/*<<<<<<<< Content */
header{
    height: calc(100px - 32px - 1px);
    padding: 16px;
    border-bottom: 1px solid var(--color-three) ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
main{
    min-height: calc(100vh - 100px - 50px);
}
footer{
    height: calc(50px - 32px - 1px);
    padding: 16px;
    border-top: 1px solid var(--color-three) ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/*<<<<<<<<<<<<<<<< Images */
.gallery-card{
    padding: 32px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.img-card{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    margin: 8px;
    cursor: pointer;
    border-radius: 5px;
}
.img-card:hover{
    opacity: 0.5;
}
/*<<<<<<<<<<<<<<< Zoom */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #202124e7;
    z-index: 5;
    justify-content: center;
    align-items: center;
}
.close{
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 8px;
}
.close img{
    width: 40px;
}
.overlay a{
    position: absolute;
    min-height: 32px;
    min-width: 32px;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
    border-radius: 100%;
    padding: 8px;
}
.overlay a:hover{
    background-color: #323439;
}
.zoom-arrow{
    min-width: 32px;
    max-width: 64px;
    width: 100%;
    padding: 0 16px 0 16px;
}
#zoom{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zoom-img{
    object-fit: cover;
    width: 100%;
    max-height: 80vh;
    border-radius: 5px;
}
.zoom-left{
    left: 16px
}
.zoom-right{
    right: 16px;
}

@media(max-width: 750px){
    #zoom{
        padding: 16px;
        width: 100vw;
    }
    .zoom-arrow{
        position: relative;
    }
}
